<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<nav class="navbar">
  <ul>
    <li><a routerLink="/home"><div class="logo-container nav-item"><img src="assets/icons/logo.svg" alt="Logo">
    </div></a></li>
    <li><a href="#" class="nav-item"><img src="assets/icons/home.svg" routerLink="/home">Home</a></li>
    <li><a href="#" class="nav-item"><img src="assets/icons/edit.svg" routerLink="/editor">Sketch Editor</a></li>
    <li><a href="#" class="nav-item"><img src="assets/icons/pixel.svg" routerLink="/pixel">Pixel Art</a></li>
    <li><a href="#" class="nav-item"><img src="assets/icons/community.svg" routerLink="/community">Community</a></li>
    <li><a href="#" class="nav-item"><img src="assets/icons/registration.svg" routerLink="/auth">Login/Register</a></li>
    <li><a href="#" class="nav-item"><img src="assets/icons/profile.svg" routerLink="/dashboard">Profile</a></li>
  </ul>
</nav>
