<div class="auth-container">
    <h2>Авторизація</h2>
    <form>
      <label for="email">Електронна пошта</label>
      <input id="email" type="email" placeholder="Введіть вашу пошту" />
  
      <label for="password">Пароль</label>
      <input id="password" type="password" placeholder="Введіть пароль" />
  
      <button type="submit">Увійти</button>
      <a routerLink="/register" class="link">Реєстрація</a>
      <a routerLink="/forgot-password" class="link">Забули пароль?</a>
    </form>
  </div>
  