<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="home-container">
  <section class="text-section">
    <h1>Welcome to Our Application!</h1>
    <p>
      Our platform is created for those who are passionate about macrame and needlework. 
      It allows you to easily create sketches and schemes of various complexity, as well 
      as automatically convert photos into ready-made layouts. We also provide the ability 
      to save and share your projects, and a community forum will help you share tips and 
      experiences. With our application, creativity becomes even more accessible!
    </p>
  </section>
  <section class="image-section">
    <img src="assets/Group.svg" alt="Illustration">
  </section>
</div>
