.home-container {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #007BFF;
  }
  
  .welcome-section {
    margin-top: 30px;
  }
  
  .welcome-section h1 {
    font-size: 2.5rem;
    color: #5069ad;
  }
  
  .welcome-section p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  