<div class="home-container">
  <section class="text-section">
    <h1>Ласкаво просимо до світу макраме!</h1>
    <p>
      Наша платформа створена для тих, хто захоплюється макраме та рукоділлям. 
      Вона дозволяє легко створювати ескізи й схеми будь-якої складності, а 
      також автоматично перетворювати фото на готові шаблони. Ви можете зберігати, 
      ділитися своїми проєктами та спілкуватися в спільноті. З нашим застосунком 
      творчість стає ще доступнішою!
    </p>
  </section>
  <section class="image-section">
    <img src="assets/Group.svg" alt="Illustration">
  </section>
</div>