<nav class="navbar">
  <ul>
    <li>
      <a href="/home">
        <div class="logo-container nav-item">
          <img src="assets/icons/logo.svg" alt="Logo">
        </div>
      </a>
    </li>
    <li>
      <a href="/home" class="nav-item">
        <img src="assets/icons/home.svg"> Головна
      </a>
    </li>
    <li>
      <a href="/editor" class="nav-item">
        <img src="assets/icons/edit.svg"> Редактор ескізу
      </a>
    </li>
    <li>
      <a href="/pixel" class="nav-item">
        <img src="assets/icons/pixel.svg"> Пікселізація
      </a>
    </li>
    <li>
      <a href="/community" class="nav-item">
        <img src="assets/icons/community.svg"> Спільнота
      </a>
    </li>
    <li>
      <a href="/login" class="nav-item">
        <img src="assets/icons/registration.svg"> Увійти/Зареєструватися
      </a>      
    </li>
    <li>
      <a href="/profile" class="nav-item">
        <img src="assets/icons/profile.svg"> Профіль
      </a>
    </li>
  </ul>
</nav>
