<div class="form-container">
  <div class="form-image"></div>
  <div class="form-content">
    <h1>Скидання пароля</h1>
    @if (error) {
      <div class="error-message">{{ error }}</div>
    }
    @if (message) {
      <div class="success-message">{{ message }}</div>
    }
    <form (ngSubmit)="onSubmit($event)">
      <div class="input-group">
        <input
          type="password"
          id="new-password"
          name="new-password"
          placeholder="Новий пароль"
          [(ngModel)]="newPassword"
          required
          (input)="validatePassword()"
        />
        <img src="assets/icons/eye-closed.svg" class="toggle-password" (click)="togglePassword('new-password', $event)" />
        @if (errors.new_password) {
          <div class="error-message">{{ errors.new_password }}</div>
        }
      </div>
      <div class="input-group">
        <input
          type="password"
          id="confirm-password"
          name="confirm-password"
          placeholder="Підтвердіть пароль"
          [(ngModel)]="confirmPassword"
          required
          (input)="validatePassword()"
        />
        <img src="assets/icons/eye-closed.svg" class="toggle-password" (click)="togglePassword('confirm-password', $event)" />
        @if (errors.confirm_password) {
          <div class="error-message">{{ errors.confirm_password }}</div>
        }
      </div>
      <button type="submit" [disabled]="hasErrors()">Скинути пароль</button>
    </form>
  </div>
</div>