<div class="form-container"> 
  <div class="form-image"></div>
  <div class="form-content">
      <h1>Вхід</h1>
      <form>
          <div class="input-group">
              <input type="email" id="email" name="email" placeholder="Введіть email" required>
          </div>
          <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Введіть пароль" required>
            <img src="assets/icons/eye-closed.svg" class="toggle-password"
                 (click)="togglePassword('password', $event)">
          </div>      
          <button type="submit">Увійти</button>
      </form>
      <p>Ще не маєте акаунту? <a href="/register">Зареєструйтесь</a></p>
  </div>
</div>
