$primary-color: #D95DB0;
$secondary-color: #3344DC;
$placeholder-color: #aaa; // Сірий колір для placeholder

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 705px;
  height: 564px;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-image {
  width: 206px;
  height: 100%;
  background: url("../../../assets/picture.svg") center/cover no-repeat;
  border-radius: 20px 0 0 20px;
  flex-shrink: 0;
}

.form-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}


h1 {
    font-size: 26px;
    margin-top: -20px; // Піднімаємо заголовок вище
    margin-bottom: 50px; // Відступ після заголовка
    color: black;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"],
input[type="password"] {
    width: 333px;
    height: 24px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    outline: none;

    &::placeholder {
        color: $placeholder-color;
        font-size: 14px;
    }
}

button {
    background: linear-gradient(to right, $primary-color, $secondary-color);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    margin-top: 15px;

    &:hover {
        background: linear-gradient(to right, darken($primary-color, 10%), darken($secondary-color, 10%));
    }
}

p {
    font-size: 14px;
    color: black;
}

a {
    color: $secondary-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.input-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group input {
  width: 333px;
  height: 24px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  color: black;
  outline: none;
}

.toggle-password {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}